/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
web-ssh-key-private.pem
*.tlp
.DS_Store
service-account-credentials.json
