/*Iphone(480 x 640)*/

@media screen and (min-width: 320px) and (max-width: 480px) {
    .h3 {
        font-size: 16px;
    }
    .detailbox__content img {
        width: auto!important;
        height: auto!important;
    }
    .detailbox__content iframe {
        width: 100%!important;
        height: auto!important;
    }
    .widget--book .item__img img {
        height: 300px;
        width: auto;
        margin: auto;
    }
}

/*Tablet nhỏ(480 x 640)*/

@media screen and (min-width: 480px) and (max-width: 768px) {
    .detailbox__content img {
        width: auto!important;
        height: auto!important;
    }
    .detailbox__content iframe {
        width: 100%!important;
        height: auto!important;
    }
    .widget--book .item__img img {
        height: 150px;
        width: auto;
        margin: auto;
    }
}

/*Ipad dọc(768 x 1024)*/

@media screen and (min-width: 768px) and (max-width: 1024px) {}

/*Ipad ngang(1024 x 768)*/

@media screen and (min-width: 1024px) and (max-width: 1024px) {}

.giacombo table {
    font-size: 13px;
    width: 100%;
    table-layout: fixed;
    line-height: 1.4;
    border: 1px solid #e2e2e2;
}

.giacombo table thead th {
    font-weight: 500;
}

.giacombo table thead th:nth-child(1) {
    width: 50%;
}

.giacombo table thead th:nth-child(2) {
    width: 50%;
}

@media (min-width: 768px) {
    .giacombo table thead th:nth-child(1) {
        width: 60%;
    }
    .giacombo table thead th:nth-child(2) {
        width: 40%;
    }
}

.giacombo table td, .giacombo table th {
    border-top: 1px solid #e2e2e2;
    padding: 10px 10px;
}

@media (min-width: 768px) {
    .giacombo table td, .giacombo table th {
        padding: 15px;
    }
}

.giacombo table td:last-child, .giacombo table th:last-child {
    border-left: 1px solid #e2e2e2;
}

.giacombo table .sale {
    color: #77AF41;
}

.giacombo table a:not(.btn) {
    color: #000;
}

.giacombo table a:not(.btn):hover {
    color: #E71D36;
}

.giacombo table tfoot {
    background-color: #f7f7f7;
}

.giacombo table .tongtien {
    font-size: 20px;
    color: #E71D36;
}

.giacombo table .btn {
    text-align: center;
    padding: 0 10px;
    max-width: 180px;
    width: 100%;
}

.combo-ralete-slide .owl-nav {
    display: none;
}

.lessonbox.style-combo {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.lessonbox.style-combo .lessonbox__inner {
    position: relative;
    overflow: visible;
}

.lessonbox.style-combo .lessonbox__img {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 100px;
    height: 100px;
}

.lessonbox.style-combo .lessonbox__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.lessonbox.style-combo .lessonbox__inner {
    margin-left: 30px;
}

.lessonbox.style-combo .lessonbox__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 90px;
    padding-bottom: 20px;
}

.lessonbox.style-combo .lessonbox__title {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 15px;
}

.lessonbox.style-combo .lessonbox__footer {
    display: block;
    position: static;
    padding: 0;
}

.lessonbox.style-combo .lessonbox__price del, .lessonbox.style-combo .lessonbox__price ins {
    display: inline-block;
}

.lessonbox.style-combo .lessonbox__price del {
    margin-left: 10px;
}

.lessonbox.style-combo .lessonbox__btn {
    margin-top: 10px;
}

.lessonbox.style-combo .lessonbox__btn a {
    min-width: 100px;
    margin: 0;
    text-align: center;
    margin-right: 5px;
}

@media (max-width: 991.98px) {
    .lessonbox.style-combo .lessonbox__body {
        padding: 30px 20px 20px 40px;
    }
}

.lessonbox__rating {
    color: #ffa908;
}

.commentForm__avatar, .commentList__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.commentForm {
    position: relative;
    padding-left: 60px;
}

.commentForm__avatar, .commentList__avatar {
    position: absolute;
    top: 0;
    left: 0;
}

.commentForm__form {
    margin-bottom: 40px;
}

.commentForm__form textarea {
    height: 100px;
    min-height: 100px;
}

.commentForm__form button {
    background-color: #E71D36;
    color: #fff;
}

.commentList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.commentList ul li {
    padding: 20px 0;
    border-top: 1px solid #d2cfcf;
}

.commentList__inner {
    position: relative;
    min-height: 50px;
    padding-left: 60px;
}

.commentList__name {
    font-size: 16px;
    color: #E71D36;
    margin-bottom: 5px;
}

.commentList__text {
    line-height: 1.4;
    margin-bottom: 8px;
}

.commentList__meta {
    font-family: "Nunito", sans-serif;
    font-size: 12px;
}

.commentList__meta i {
    margin-right: 3px;
}

.commentList__meta a {
    color: #77AF41;
}

.commentList__meta>span:not(:last-child):after {
    content: "|";
    color: #707070;
    margin: 0 6px;
}

.commentList__submenu {
    border-top: 1px solid #d2cfcf;
    padding-left: 40px !important;
    margin-top: 20px !important;
}

.commentList__submenu li {
    padding: 20px 0;
    border-top: 1px solid #d2cfcf;
}

.commentList__submenu li:first-child {
    border-top: 0;
}

.commentList__submenu li:last-child {
    padding-bottom: 0;
}

.commentList__submenu .commentList__inner {
    padding-top: 0;
    padding-bottom: 0;
}

.commentList__submenu .commentForm__form {
    position: relative;
    margin-bottom: 0;
}

.commentList__submenu .commentForm__form textarea {
    height: 60px;
    min-height: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

@media (max-width: 767.98px) {
    .commentList__submenu .commentForm__form button {
        padding: 7px 20px;
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .commentList__submenu .commentForm__form {
        padding-right: 100px;
    }
    .commentList__submenu .commentForm__form textarea {
        margin-bottom: 0;
    }
    .commentList__submenu .commentForm__form button {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 81px;
    }
}

.btn-load-comment span {
    display: inline-block;
    max-width: 10px;
}

.commentList__star {
    color: #ffa908;
    line-height: 1;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .courses-review .commentList__body {
        position: relative;
        padding-right: 100px;
    }
    .courses-review .commentList__body .commentList__star {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media (min-width: 768px) {
    .commentList__submenu {
        padding-left: 70px !important;
    }
}

.courses-review .r-point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    border: 1px solid #d2cfcf;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
    box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
    margin-bottom: 20px;
}

.courses-review .r-point:after {
    content: "";
    display: block;
    padding-top: 50%;
}

.courses-review .r-point__inner {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.courses-review .r-point__inner .r-1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    color: #000;
    margin: 0;
}

.courses-review .r-point__inner .r-2 {
    font-size: 15px;
}

.courses-review .r-point__inner .r-3 {
    margin: 0;
    color: #ffa908;
    letter-spacing: 0;
}

.courses-review .r-point__inner .r-3 i {
    margin: 0 3px;
}

.courses-review .r-progress__ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.courses-review .r-progress__li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.courses-review .r-progress__li+li {
    margin-top: 15px;
}

.courses-review .r-progress__step {
    position: relative;
    width: 45%;
    height: 10px;
    background-color: #d2cfcf;
    border-radius: 10px;
    margin-right: 15px;
}

.courses-review .r-progress__step span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 10px;
    background-color: #E71D36;
}

.courses-review .r-progress__star {
    margin: 0;
}

.courses-review .r-progress__star span {
    color: #ffa908;
    margin-right: 5px;
}

.courses-review .addReviewBox {
    background-color: #fff;
    -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 45px;
    padding: 40px 20px;
}

@media (min-width: 768px) {
    .courses-review .addReviewBox {
        padding: 50px;
    }
}

.courses-review .addReviewBox .f-header__star {
    direction: rtl;
    unicode-bidi: bidi-override;
    line-height: 1;
    font-size: 0;
}

.courses-review .addReviewBox .f-header__star input {
    display: none;
}

.courses-review .r-point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    border: 1px solid #d2cfcf;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
    box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
    margin-bottom: 20px;
}

.courses-review .r-point:after {
    content: "";
    display: block;
    padding-top: 50%;
}

.courses-review .r-point__inner {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.courses-review .r-point__inner .r-1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    color: #000;
    margin: 0;
}

.courses-review .r-point__inner .r-2 {
    font-size: 15px;
}

.courses-review .r-point__inner .r-3 {
    margin: 0;
    color: #ffa908;
    letter-spacing: 0;
}

.courses-review .r-point__inner .r-3 i {
    margin: 0 3px;
}

.courses-review .r-progress__ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.courses-review .r-progress__li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.courses-review .r-progress__li+li {
    margin-top: 15px;
}

.courses-review .r-progress__step {
    position: relative;
    width: 45%;
    height: 10px;
    background-color: #d2cfcf;
    border-radius: 10px;
    margin-right: 15px;
}

.courses-review .r-progress__step span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 10px;
    background-color: #E71D36;
}

.courses-review .r-progress__star {
    margin: 0;
}

.courses-review .r-progress__star span {
    color: #ffa908;
    margin-right: 5px;
}

.courses-review .addReviewBox {
    background-color: #fff;
    -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 45px;
    padding: 40px 20px;
}

@media (min-width: 768px) {
    .courses-review .addReviewBox {
        padding: 50px;
    }
}

.courses-review .addReviewBox .f-header__star {
    direction: rtl;
    unicode-bidi: bidi-override;
    line-height: 1;
    font-size: 0;
}

.courses-review .addReviewBox .f-header__star input {
    display: none;
}

.courses-review .addReviewBox .f-header__star label {
    font-size: 18px;
    color: #ffa908;
    cursor: pointer;
    line-height: 1;
    padding: 10px 3px;
}

.courses-review .addReviewBox .f-header__star label:after {
    content: "";
    font-family: "fontAwesome";
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.courses-review .addReviewBox .f-header__star label:hover:after, .courses-review .addReviewBox .f-header__star label:hover~label:after {
    content: "";
}

.courses-review .addReviewBox .f-header__star input[type=radio]:checked~label:after {
    content: "";
}

.courses-review .addReviewBox .form-wrap .input-item label {
    display: block;
    font-size: 14px;
}

.courses-review .commentbox {
    margin-top: 55px;
}

@media (min-width: 768px) {
    .courses-review .r-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .courses-review .r-point {
        width: 250px;
        margin-bottom: 0;
    }
    .courses-review .r-point:after {
        content: "";
        display: block;
        padding-top: 89%;
    }
    .courses-review .r-point__inner .r-1 {
        font-size: 50px;
    }
    .courses-review .r-point__inner .r-2 {
        font-size: 16px;
    }
    .courses-review .r-progress {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding-left: 20px;
    }
    .courses-review .r-progress__li+li {
        margin-top: 35px;
    }
    .courses-review .r-progress__step {
        margin-right: 15px;
    }
}

@media (min-width: 1260px) {
    .courses-review .r-point {
        width: 270px;
    }
    .courses-review .r-point__inner .r-1 {
        font-size: 60px;
    }
    .courses-review .r-point__inner .r-2 {
        font-size: 18px;
    }
    .courses-review .r-progress {
        padding-left: 30px;
    }
    .courses-review .r-progress__step {
        width: 52%;
        margin-right: 27px;
    }
}

.commentbox-wrap {
    margin-top: 60px;
}

.commentbox-wrap .nav-tabs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.commentForm__avatar, .commentList__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.commentForm {
    position: relative;
    padding-left: 60px;
}

.commentForm__avatar, .commentList__avatar {
    position: absolute;
    top: 0;
    left: 0;
}

.commentForm__form {
    margin-bottom: 40px;
}

.commentForm__form textarea {
    height: 100px;
    min-height: 100px;
}

.commentForm__form button {
    background-color: #E71D36;
    color: #fff;
}

.commentList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.commentList ul li {
    padding: 20px 0;
    border-top: 1px solid #d2cfcf;
}

.commentList__inner {
    position: relative;
    min-height: 50px;
    padding-left: 60px;
}

.commentList__name {
    font-size: 16px;
    color: #E71D36;
    margin-bottom: 5px;
}

.commentList__text {
    line-height: 1.4;
    margin-bottom: 8px;
}

.commentList__meta {
    font-family: "Nunito", sans-serif;
    font-size: 12px;
}

.commentList__meta i {
    margin-right: 3px;
}

.commentList__meta a {
    color: #77AF41;
}

.commentList__meta>span:not(:last-child):after {
    content: "|";
    color: #707070;
    margin: 0 6px;
}

.commentList__submenu {
    border-top: 1px solid #d2cfcf;
    padding-left: 40px !important;
    margin-top: 20px !important;
}

.commentList__submenu li {
    padding: 20px 0;
    border-top: 1px solid #d2cfcf;
}

.commentList__submenu li:first-child {
    border-top: 0;
}

.commentList__submenu li:last-child {
    padding-bottom: 0;
}

.commentList__submenu .commentList__inner {
    padding-top: 0;
    padding-bottom: 0;
}

.commentList__submenu .commentForm__form {
    position: relative;
    margin-bottom: 0;
}

.commentList__submenu .commentForm__form textarea {
    height: 60px;
    min-height: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

@media (max-width: 767.98px) {
    .commentList__submenu .commentForm__form button {
        padding: 7px 20px;
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .commentList__submenu .commentForm__form {
        padding-right: 100px;
    }
    .commentList__submenu .commentForm__form textarea {
        margin-bottom: 0;
    }
    .commentList__submenu .commentForm__form button {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 81px;
    }
}

.btn-load-comment span {
    display: inline-block;
    max-width: 10px;
}

.commentList__star {
    color: #ffa908;
    line-height: 1;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .commentList__submenu {
        padding-left: 70px !important;
    }
    .courses-review .addReviewBox .f-header__star label {
        font-size: 18px;
        color: #ffa908;
        cursor: pointer;
        line-height: 1;
        padding: 10px 3px;
    }
    .courses-review .addReviewBox .f-header__star label:after {
        content: "";
        font-family: "fontAwesome";
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .courses-review .addReviewBox .f-header__star label:hover:after, .courses-review .addReviewBox .f-header__star label:hover~label:after {
        content: "";
    }
    .courses-review .addReviewBox .f-header__star input[type=radio]:checked~label:after {
        content: "";
    }
    .courses-review .addReviewBox .form-wrap .input-item label {
        display: block;
        font-size: 14px;
    }
    .courses-review .commentbox {
        margin-top: 55px;
    }
}

@media (min-width: 768px) {
    .courses-review .r-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .courses-review .r-point {
        width: 250px;
        margin-bottom: 0;
    }
    .courses-review .r-point:after {
        content: "";
        display: block;
        padding-top: 89%;
    }
    .courses-review .r-point__inner .r-1 {
        font-size: 50px;
    }
    .courses-review .r-point__inner .r-2 {
        font-size: 16px;
    }
    .courses-review .r-progress {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding-left: 20px;
    }
    .courses-review .r-progress__li+li {
        margin-top: 35px;
    }
    .courses-review .r-progress__step {
        margin-right: 15px;
    }
}

@media (min-width: 1260px) {
    .courses-review .r-point {
        width: 270px;
    }
    .courses-review .r-point__inner .r-1 {
        font-size: 60px;
    }
    .courses-review .r-point__inner .r-2 {
        font-size: 18px;
    }
    .courses-review .r-progress {
        padding-left: 30px;
    }
    .courses-review .r-progress__step {
        width: 52%;
        margin-right: 27px;
    }
}

.lessonbox__rating {
    color: #ffa908;
}

.lessonbox__info {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lessonbox__info li {
    line-height: 1.2;
}

.lessonbox__info li+li {
    margin-top: 8px;
}

.lessonbox__info li a:hover {
    text-decoration: underline;
}

@media (max-width: 767.98px) {
    .lessonbox__info {
        display: block;
    }
    .lessonbox__info li {
        display: none;
        font-size: 10px;
    }
    .lessonbox__info li.meta-rating {
        display: block;
    }
    .lessonbox__footer .btn {
        height: 30px;
        font-size: 12px;
        line-height: 28px;
        border-radius: 20px;
        letter-spacing: 0;
        padding: 0 13px;
    }
}

/* .lessonbox__body {
    padding-bottom: 55px;
} */
