@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700';
@import '~admin-lte/build/scss/AdminLTE';
@import '~@fortawesome/fontawesome-free/css/all';

img {
    max-width: 100%;
}

.custom-file {
    height: auto;
}

.image-preview {
    max-height: 250px;
    margin: 10px auto 0;
    display: block;
    max-width: 100%;
    border: solid 3px #fff;
    box-shadow: 0px 0px 1px #000;
}

.image-preview[src=""],
.img-thumbnail[src=""] {
    display: none;
}

.invalid-feedback {
    display: block;
}

.img-thumbnail {
    max-width: 100px;
}

.custom-order {
    max-width: 40px;
    padding: 0 5px;
}
