.page-title {
	background-color: $color-gray;
	text-align: left;
	padding: 30px 0;

	.breadcrumb-nav {
		margin-bottom: 10px;
	}
}

.page-title__title {
	font-size: 24px;
	color: $color-primary;
	margin: 0;
}

@include media-breakpoint-up(md) {
	.page-title__title {
		font-size: 28px;
	}
}

@include media-breakpoint-up(lg) {
	.page-title__title {
		font-size: 32px;
	}
}
